<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="DemoQA" verbose="1" >
    
    <test name="Setup">
        
        <classes>
            <class name="setup.DriverSetup"></class>
        </classes>
        
    </test>
    
    <test name="IT Bootcamp itBootcampTest" >
        <classes>
<!--            <class name="elements.buttons.Buttons_TestGroup"></class>-->
<!--            <class name="elements.text_box.TextBox_TestGroup"></class>-->
            <class name="elements.check_box.CheckBox_TestGroup"></class>
        </classes>
    </test>
    
</suite>
